@model ProBet.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BetMoney" class="control-label"></label>
                <input asp-for="BetMoney" class="form-control" />
                <span asp-validation-for="BetMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" />
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <select asp-for="MatchId" class ="form-control" asp-items="ViewBag.MatchId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GamblerId" class="control-label"></label>
                <select asp-for="GamblerId" class ="form-control" asp-items="ViewBag.GamblerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
