
@{
    ViewData["Title"] = "ErrorTooLate";
}
<hr />
<hr />
<hr />
<h1 style="color: darkred">The match has already started</h1>
<a asp-controller="Matches" asp-action="Index"><h2>Return to matches</h2></a>

